
// open graph
meta(property="og:type" content="website")
meta(property="og:title" content="Oasis")
meta(property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quasi maxime unde delectus voluptatum quos molestiae dolorum placeat ullam dolor. Ex est qui rerum soluta nemo deserunt hic, recusandae, quasi.")
meta(property="og:image" content="https://d1pr2kxbbu5gcx.cloudfront.net/img/content/main-image.jpg")
//- meta(property="og:url" content="https://d1pr2kxbbu5gcx.cloudfront.net/leafboard.html")
meta(name="twitter:image" content="https://d1pr2kxbbu5gcx.cloudfront.net/img/content/main-image.jpg")
meta(name="twitter:title" content="Get Leaf")
//- meta(name="twitter:url" content="https://d1pr2kxbbu5gcx.cloudfront.net/index.html")
meta(name="twitter:card" content="summary")
meta(name="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa accusamus aperiam earum inventore voluptas, placeat soluta nostrum illo porro incidunt vitae tempore deserunt, voluptate facilis officiis recusandae molestiae obcaecati eius.")
