doctype html
html(lang='en')
	head
		title OASIS

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.home-presentation
			.col-md-left
				h1
					span Загородные дома в коттеджном 
					span поселке на берегу реки днепр
				ul.advantages-list
					li
						span 15 минут от центра черкасс
					li
						span 60 двухэтажных домов
					li
						span энергоэффективная европейская технология
					li
						span чек за отопление 500грн
					li
						span дизайнерские планировки домов
				.propouse-board
					span Меняем дом в коттеджном поселке <b>на Вашу квартиру</b>
			.col-md-right
				.logo-and-contacts
					.brand-phones-block
						.brand-block
							img(src="img/content/main-brand.png", alt="brand").main-brand
						ul.phones-block
							li
								a(href="tel:0965869539") (096) 58-69-539
							li
								a(href="tel:0730248960") (073) 02-48-960
							li
								span мы Вам перезвоним
						form.callback-form(action="#")
							h3 Инвестируй в самый рентабельный жилой комплекс 2016 года
							.form-group
								label(for='header-phone-number-input') Email address
								input#header-phone-number-input.form-control(type='text', placeholder='Тел:')
								input(type="submit" value="узнать детали особых условий")
								.form-label сумма инвестиций с каждым днем идет вверх
						.header-label
							h2 Дома по цене квартиры

		section.about-us
			.top-line
				.step.step-one
					span Кто мы?
				.step.step-two
					span Кто мы?
				.step.step-three
					img(src="img/content/logo-step-three.png", alt="logotype")
			.about-content
				ul.col-md-left
					li.header
						h3
					li
						span <b>6 лет </b>на рынке
					li
						span <b>Свое </b>производство
					li
						span <b>100 сотрудников </b>в компании
				ul.col-md-centre
					li.header
						h3 Опыт строительства:
					li
						span Построено<b> более 80 домов</b>
					li
						span в 2016 году<b> реализовано </b>жилой комплекс закрытого типа “Південний квартал” в городе Черкассы из 20 двухэтажных домов
					li
						span <b> Идет строительство </b> жилого комплекса “Південний квартал 2” из 14 двухэтажных домов
					li
						span <b> Началось активное строительство </b> коттеджного поселка “Днепровский Оазис” в Красной Слободе на берегу реки Днепр
				.col-md-right
					.header
						h3 Узнать о нас все за 2 минуты
					.video-modal-button
						.cover-holder
							img(src="img/content/video-cover-1.jpg", alt="video")
						.video-modal-button-label
							b Кликай
							span Важная информация

		section.more-about-us
			.container
				.row
					.col-md-15
						h2 Мы – динамично развивающаяся компания
			.container
				.row
					.col-md-9
						p <mark>ДНЕПРОВСКИЙ ОАЗИС </mark> – <b>это дома в пригороде с развитой инфраструктурой в 300-х метрах от реки ДНЕПР. Новый формат жильё который знаменитый за рубежом, </b>признан Украиной, и стал самым рентабельным и самым популярным. ДНЕПРОВСКИЙ ОАЗИС  - комплекс, которому нет аналогов в Черкасской области.  Расположен в превосходной прибрежной зоне в 10 километрах от центра Черкасс. Добираться на работу удобно и быстро – 15 минут, учитывая хорошее дорожное покрытие и отсутсвие светофоров. 
						p <b>Комплекс рассчитан на 60 двухэтажных домов разной площади и планировки </b> (от 70м2 до 150м2) отсутствие городской суеты, шума, многоэтажек, пробок, а только наслаждение свежим воздухом, общением с природой, прогулками вблизи воды. Территория комплекса утопающая в зелени обустроена парковыми прогулочными зонами, тихая и спокойная обстановка - все это для вас. Будущее - уже сегодня.

					.col-md-6
						.video-modal-button
							.cover-holder
								img(src="img/content/video-cover-1.jpg", alt="video")
							.video-modal-button-label
								b Обязательно нажми
								span тебе надо это знать

		section.tour-3d
			.container
				.row
					.col-md-15
						h2 3д тур

		section.why-our-company
			.container
				.row
					.col-md-7
						.video-modal-button
							.cover-holder
								img(src="img/content/video-cover-1.jpg", alt="video")
							.video-modal-button-label
								b Кликни
								span и узнай больше о комплектации
					.col-md-8
						h2 единственные
						h3 на черкащине кто сдает дома
						h3 <mark>в максимальной комплектаци</mark>

						.complectation-includes
							ul
								li
									span Електрика
								li
									span Сантехника
								li
									span Оконные системы
								li
									span Чистовая стяжка полов
								li
									span Отделка стен гипсокартоном
							.list-label Под ключ

		section.change-your-flat
			.container
				.row
					.col-md-7
						.video-modal-button
							.cover-holder
								img(src="img/content/video-cover-1.jpg", alt="video")
							.video-modal-button-label
								b Кликни
								span и узнай больше о комплектации
					.col-md-8
						h2 обменяй
						h3 <mark>Свою квартиру</mark>
						h3 на новый дом в элитном квартале «днепровский оазис»

						ul.advantages-list
							li
								span Высокая оценка вашей квартиры
							li
								span Особые условия оформления
							li
								span Берём на себя весь комплекс услуг связанных с обменом Квартиры

						form.callback-form(action="#")
							h3 Инвестируй в самый рентабельный жилой комплекс 2016 года
							.form-group
								label(for='header-phone-number-input') Email address
								input#header-phone-number-input.form-control(type='text', placeholder='Тел:')
								input(type="submit" value="узнать детали особых условий")
								.form-label сумма инвестиций с каждым днем идет вверх

		section.skew.dark-blue-backgr
			.skew-container.pric
				.container
					.row
						#price.section-heading.col-xs-15
							h2.tablic
								span Ціна
								| будинків
						.col-xs-15
							table.price-table.hide-on-mobile
								thead
									tr
										th
										th з 01.07.2016
										th з 01.08.2016
										th з 01.09.2016
										th з 01.10.2016
										th з 01.11.2016
								tbody
									tr
										td
											| Таунхаус 74м
											sup 2
											span
												| +Задній двір 90м
												sup 2
										td 29500$
										td 30000$
										td 30500$
										td 31000$
										td 31500$
									tr
										td
											| Таунхаус 85м
											sup 2
											span
												| +Задній двір 90м
												sup 2
										td 33000$
										td 33500$
										td 34000$
										td 34500$
										td 35000$
									tr
										td
											| Таунхаус 120м
											sup 2
											span
												| +Задній двір 120м
												sup 2
										td 46000$
										td 46500$
										td 47000$
										td 47500$
										td 48000$
									tr
										td
											| Таунхаус 126м
											sup 2
											span
												| +Задній двір 120м
												sup 2
										td 48000$
										td 48500$
										td 49000$
										td 49500$
										td 50000$
									tr
										td
											| Таунхаус 144м
											sup 2
											span
												| +Задній двір 120м
												sup 2
										td 54000$
										td 54500$
										td 55000$
										td 55500$
										td 56000$
							#accordion.hide-on-lg.price-accordeon
								.block-acc
									.panel-heading
										.heading
											h2
												| Таунхаус 74м
												sup 2
												span
													| +Задній двір90м
													sup 2
									.panel-body
										ul
											li
												span з 01.07.2016
												| 29500$
											li
												span з 01.08.2016
												| 30000$
											li
												span з 01.09.2016
												| 30500$
											li
												span з 01.10.2016
												| 31000$
											li
												span з 01.11.2016
												| 31500$
								.block-acc
									.panel-heading
										.heading
											h2
												| Таунхаус 85м
												sup 2
												span
													| +Задній двір90м
													sup 2
									.panel-body
										ul
											li
												span з 01.07.2016
												| 33000$
											li
												span з 01.08.2016
												| 33500$
											li
												span з 01.09.2016
												| 34000$
											li
												span з 01.10.2016
												| 34500$
											li
												span з 01.11.2016
												| 35000$
								.block-acc
									.panel-heading
										.heading
											h2
												| Таунхаус 120м
												sup 2
												span
													| +Задній двір120м
													sup 2
									.panel-body
										ul
											li
												span з 01.07.2016
												| 46000$
											li
												span з 01.08.2016
												| 46500$
											li
												span з 01.09.2016
												| 47000$
											li
												span з 01.10.2016
												| 47500$
											li
												span з 01.11.2016
												| 48000$
								.block-acc
									.panel-heading
										.heading
											h2
												| Таунхаус 126м
												sup 2
												span
													| +Задній двір120м
													sup 2
									.panel-body
										ul
											li
												span з 01.07.2016
												| 48500$
											li
												span з 01.08.2016
												| 48600$
											li
												span з 01.09.2016
												| 49000$
											li
												span з 01.10.2016
												| 49500$
											li
												span з 01.11.2016
												| 50000$
								.block-acc
									.panel-heading
										.heading
											h2
												| Таунхаус 140м
												sup 2
												span
													| +Задній двір120м
													sup 2
									.panel-body
										ul
											li
												span з 01.07.2016
												| 54000$
											li
												span з 01.08.2016
												| 54500$
											li
												span з 01.09.2016
												| 55000$
											li
												span з 01.10.2016
												| 55500$
											li
												span з 01.11.2016
												| 56000$
						.clear
						.col-xs-15.table-caption
							.col-lg-5.col-lg-offset-1.col-md-5.col-md-offset-0.col-sm-4.col-xs-15.arrow-holder
								h3.arrow
									| До підвищення цін
									span Залишилося
							.col-lg-4.col-md-5.col-sm-5.col-xs-15.right-sm
								.timer
									span.day.afss_day_bv 03
									span.hours.afss_hours_bv 16
									span.min.afss_mins_bv 33
									span.sec.afss_secs_bv 15
							.col-lg-5.col-md-5.col-sm-5.col-xs-15.right-sm
								button.action(data-toggle='modal', data-target='#myModal_sendBack') Отримати знижку на таунхаус

		section.important-info
			.col-md-left
				h2 Важная информация
				.videos-label
					span Кликай
				ul.videos-holder
					li.video
						.cover-holder
							img(src="#", alt="video-cover")
						.label-holder
							span 
					li.video
						.cover-holder
							img(src="#", alt="video-cover")
						.label-holder
							span 
					li.video
						.cover-holder
							img(src="#", alt="video-cover")
						.label-holder
							span 
			.col-md-right
				.news-holder
					h3 Новости
					ul.news-list
						li
							h4 Повышение цены
							p С 01.08 будет повышение цены, поспеши
							a(href="#") Детали
						li
							h4 Подготавливаем 1-3 дома
							p К завершению внутрених работ
							a(href="#") Детали
						li
							h4 Прораб дал видеоотчет
							p Смотрите видеоотчет за 1 месту
							a(href="#") Детали

		section.photo-feedback
			.container
				.row
					.col-md-15
						h2 Фото отчет строительства
						p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. 
				.row
					.col-md-15
						// slider

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
